<p>
  timings works!
</p>

<div dir="ltr" *ngIf="!dataLoading" style="position: absolute; bottom: 50px;"
    [style.right]="('DIR' | translate) === 'ltr' ? '25px' : null"
    [style.left]="('DIR' | translate) === 'rtl' ? '25px' : null">
    <eco-fab-speed-dial #allTimingsActionsFab (mouseenter)="allTimingsActionsFab.open = true"
        (mouseleave)="allTimingsActionsFab.open = false">
        <eco-fab-speed-dial-trigger [spin]="true">
            <button [color]="primary" mat-fab>
                <mat-icon class="spin180">more_vert</mat-icon>
            </button>
        </eco-fab-speed-dial-trigger>

        <eco-fab-speed-dial-actions>
            <button [color]="primary" mat-mini-fab matTooltipPosition="{{'RIGHT_DIR' | translate}}"
                (click)="createTimings()" matTooltip="{{'CREATE_TIMING' | translate}}">
                <mat-icon>add</mat-icon>
            </button>
        </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>
</div>
