.timing-text {
  color: white;
}

.timing-name {
  margin: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

mat-card {
  padding: 5px;
  margin: 7px;
  
}

::ng-deep .mat-mini-fab {
    background-color: #1f5f59;
    color: white;
  } 
  
  ::ng-deep .mat-fab {
    background-color: #1f5f59;
    color: white;
  }


  ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #257086;
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #1b5161;
}