.full {
	width: 100%;
}
.contact-list-container {
	background-color: white;
	.contact-list {
		overflow: auto;
		div {
			margin: 0;
		}
		h3 {
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
	
	.contact-list-header {
		background-color: #eee;
		padding: 10px;
		div {
			margin: auto;
		}
		
	}
}
.contact-add {
		padding: 10px;
		background: white;
		.avatar {
			width: 120px;
			height: 120px;
			border-radius: 50%;
		}
	}

.example-additional-selection {
	opacity: 0.75;
	font-size: 0.75em;
 }