body {
  font: normal 100%/1.5 Verdana, sans-serif;
  color: #fafafa;
  background: #3b3b47;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  align-items: center;
  text-align: center;
}

.hide {
  display: none;
}

.app-bar-container {
  background-color: #3b3b47;
  display: inline-flex;
  position: fixed;
  height: 80px;
  width: 100vh;
  top: 0;
  left: 0;
  align-items: center;
  text-align: center;
}

.power-off-container {
  position: absolute;
  margin: 10px;
  padding: 0;
}

.dashboard-link-container {
  position: absolute;
  margin-left: calc(50vw - 70px);
}

.casanet-title {
  color: #6dbdb9;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

.casanet-title:hover {
  color: #126d68;
  cursor: pointer;
}

#minions-container {
  margin-top: 80px;
}

#power-on {
  cursor: pointer;
  fill: #6dbdb9;
  color: #6dbdb9;
}

.power-on-text {
  font-size: xx-small;
  text-align: center;
  margin: 0;
  padding: 0;
}

#power-off {
  fill: #737471;
  color: #737471;
}

#power-sync {
  fill: #737471;
  color: #737471;
}

#welcome-message {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 20vh;
  color: #6dbdb9;
}

.room {
  margin-top: 30px;
}

.room-name {
  color: #797990;
  margin-bottom: 2px;
}

.button {
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  display: inline-block;
  line-height: 3em;
  padding: 0 1em;
  background: #34343e;
  border-radius: 0.125em;
  background-clip: padding-box;

  margin-right: 1em;
  margin-top: 0.5em;
}

.button--plain {
  background: #41414e;
}

.button--ghost {
  border: 1px solid #eee !important;
  background: none;
}

.button--ghost--on {
  border-color: #6dbdb9 !important;
  color: #6dbdb9 !important;
}

.button--ghost--err {
  border-color: #bb6a6a !important;
  color: #bb6a6a !important;
}

.button--ghost--off {
  border-color: #737471 !important;
  color: #737471 !important;
}

.button--slicein--sync {
  cursor: wait;
  border-color: transparent !important;
  background: none;
  background-image: linear-gradient(to right, #363642, #3b3b47);
  box-shadow: inset 1px 0 1px #33333d;
}

.bottom-bar {
  display: inline-block;
  position: fixed;
  bottom: 5px;
  color: rgb(155, 155, 232);
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-small;
}

.sw-container {
  left: 10px;
  text-align: left;
}

.bottom-bar-command:hover {
  color: rgb(97, 97, 192);
  cursor: pointer;
}
