<div>
    <div class=container>
        <!-- Loading animation -->
        <!-- Thanks for https://icons8.com/cssload/en/spinners/5 -->
        <div ng-if="loading" class="cssload-container">
            <div class="cssload-shaft1"></div>
            <div class="cssload-shaft2"></div>
            <div class="cssload-shaft3"></div>
            <div class="cssload-shaft4"></div>
            <div class="cssload-shaft5"></div>
            <div class="cssload-shaft6"></div>
            <div class="cssload-shaft7"></div>
            <div class="cssload-shaft8"></div>
            <div class="cssload-shaft9"></div>
            <div class="cssload-shaft10"></div>
        </div>

        <!-- <p class="bg-success">..bla.</p> -->
        <div ng-show="isOnline" class="col-xs-6 bg-success" style="padding: 10px; ">
            <span  class="visible-xs-block visible-lg-block">✔ Server is online</span>
        </div>
        <div ng-hide="isOnline" class="col-xs-6 bg-danger" style="padding: 10px; ">
            <span  class="visible-xs-block visible-lg-block">✘ Server is offline , Trying to reconnect server...</span>
        </div>
        <br>
        <br>

        <div ng-repeat="device in devices | orderBy : 'typeName' " class="card card-5 " ng-class="GetDeviceClass(device)">

            <h2 class=device-name>{{device.name}}</h2>


            <!-- Thanks to https://codepen.io/aanjulena/pen/ZLZjzV?editors=1000 -->
            <div>
                <div class="switch-area">

                    <button type="button" class="btn btn-lg btn-secondary btn-toggle " ng-class="device.state == 'on' ? 'active' : ''" ng-click="SetState(device)">
                        <div class="" ng-class="device.state == 'error' ? 'handle-error' : 'handle'"></div>
                    </button>
                </div>
            </div>

            <!-- brightness -->
            <div ng-if="device.isBrightness">
                <div class="brightness-area">
                    Brightness:
                    <br>
                    <article>
                        <rzslider rz-slider-model="device.brightnessSlider.value" rz-slider-options="device.brightnessSlider.options"></rzslider>
                    </article>
                </div>
            </div>

            <!-- white temp -->
            <div ng-if="device.isWhiteTemp">
                <div class="white-color-area">
                    White Temp:
                    <br>
                    <article>
                        <rzslider rz-slider-model="device.whiteTempSlider.value" rz-slider-options="device.whiteTempSlider.options"></rzslider>
                    </article>
                </div>
            </div>

            <!-- color -->
            <div ng-if="device.isColor">
                <div class="color-area">
                    <rzslider class="color-red-area" rz-slider-model="device.redSlider.value" rz-slider-options="device.redSlider.options"></rzslider>
                    <rzslider class="color-green-area" rz-slider-model="device.greenSlider.value" rz-slider-options="device.greenSlider.options"></rzslider>
                    <rzslider class="color-blue-area" rz-slider-model="device.blueSlider.value" rz-slider-options="device.blueSlider.options"></rzslider>
                </div>

            </div>
            <!-- ac -->
            <div ng-if="device.isAC">
                <div class="ac-mode-area">
                    Mode
                    <br>

                    <select ng-model="device.ac.mode" ng-change="SetAC(device)">
                        <option value=auto>auto</option>
                        <option value=hot>hot </option>
                        <option value=cold>cold </option>
                        <option value=dry>dry</option>
                        <option value=fan>fan</option>
                    </select>
                </div>

                <div class="fan_strength-area">
                    fan_strength
                    <br>

                    <select ng-model="device.ac.fan_strength" ng-change="SetAC(device)">
                        <option value=auto>auto</option>
                        <option value=high>high </option>
                        <option value=med>med </option>
                        <option value=low>low</option>
                    </select>
                </div>

                <div class="ac-temp-area">
                    Temp:
                    <br>
                    <article>
                        <rzslider rz-slider-model="device.acTempSlider.value" rz-slider-options="device.acTempSlider.options"></rzslider>
                    </article>
                </div>
            </div>

            <!-- sending device values animation -->
            <!-- Thanks for https://icons8.com/cssload/en/horizontal-bars -->
            <div ng-if="device.sending" class="sending-animation-area">
                <div id="spinningSquaresG">
                    <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                    <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                </div>
            </div>

            <div class="submit_value">
                <a class="btn btn-default btn-sm" ng-click="ShowDetails(device)">Tech details</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <a class="btn btn-default btn-lg " ng-click="GetDevices()">Refresh data</a>
    <a class="btn btn-default btn-lg " ng-click="RefreshData()">Rescan lan devices</a>
    <a class="btn btn-default btn-lg " ng-click="FullScreen()">Set FullScreen</a>
</div>
</div>