<div>
    <div class=container>
            <div ng-repeat="device in devices | orderBy : 'typeName' " class="card card-5 " 
                 ng-class="GetDeviceClass(device)">

                <h2 class=device-name>{{device.name}}</h2>

                <label for="switch{{device.deviceID}}">
                    <input type="checkbox" ng-checked="device.state == 'on'" ng-click="SetState(device)" id="switch{{device.deviceID}}" />
                    <span class="switch">
                    </span>
                    <span ng-class="device.state == 'error' ? 'disable' : ''" class="toggle">
                    </span>
                </label>

                <!-- brightness -->
                <div ng-if="device.isBrightness">
                    <div class="brightness-area">
                        Brightness:
                        <br>
                        <article>
                            <rzslider rz-slider-model="device.brightnessSlider.value" rz-slider-options="device.brightnessSlider.options"></rzslider>
                        </article>
                    </div>
                </div>

                <!-- white temp -->
                <div ng-if="device.isWhiteTemp">
                    <div class="white-color-area">
                        White Temp:
                        <br>
                        <article>
                            <rzslider rz-slider-model="device.whiteTempSlider.value" rz-slider-options="device.whiteTempSlider.options"></rzslider>
                        </article>
                    </div>
                </div>

                <!-- color -->
                <div ng-if="device.isColor">
                    <div class="color-area">
                        <rzslider class="color-red-area" rz-slider-model="device.redSlider.value" rz-slider-options="device.redSlider.options"></rzslider>
                        <rzslider class="color-green-area" rz-slider-model="device.greenSlider.value" rz-slider-options="device.greenSlider.options"></rzslider>
                        <rzslider class="color-blue-area" rz-slider-model="device.blueSlider.value" rz-slider-options="device.blueSlider.options"></rzslider>
                    </div>

                </div>
                <!-- ac -->
                <div ng-if="device.isAC">
                    <div class="ac-mode-area">
                        Mode
                        <br>

                        <select ng-model="device.ac.mode">
                            <option value=auto>auto</option>
                            <option value=hot>hot </option>
                            <option value=cold>cold </option>
                            <option value=dry>dry</option>
                            <option value=fan>fan</option>
                        </select>
                    </div>

                    <div class="fan_strength-area">
                        fan_strength
                        <br>

                        <select ng-model="device.ac.fan_strength">
                            <option value=auto>auto</option>
                            <option value=high>high </option>
                            <option value=med>med </option>
                            <option value=low>low</option>
                        </select>
                    </div>

                    <div class="ac-temp-area">
                        Temp:
                        <br>
                        <article>
                            <rzslider rz-slider-model="device.acTempSlider.value" rz-slider-options="device.acTempSlider.options"></rzslider>
                        </article>
                    </div>
                </div>


                <div class="submit_value" >
                    <a class="btn btn-default btn-sm" ng-click="ShowDetails(device)">Tech details</a>
                </div>
            </div>
        </div>
            <br>
            <br>
            <br>
            <a class="btn btn-default btn-lg " ng-click="GetDevices()">Refresh data</a>
            <a class="btn btn-default btn-lg " ng-click="RefreshData()">Rescan lan devices</a>
            <a class="btn btn-default btn-lg " ng-click="FullScreen()">Set FullScreen</a>
        </div>
    </div>