<br>
<button ng-show="!message" class="btn btn-info" ng-click="ScanLanDevices()">Rescan LAN network</button> {{message}}
<br>
<br> Devices: {{results.length}}
<table class="table table-hover table-condensed">
    <tr>
        <th ng-click="orderByIt = 'mac'"> MAC (Press to order)</th>
        <th ng-click="orderByIt = 'name'"> Lan Device Name (Press to order)</th>
        <th ng-click="orderByIt = 'ip'"> IP (Press to order) </th>
        <th ng-click="orderByIt = 'vendor'"> NetBIOS Vendor (Press to order)</th>
    </tr>
    <!-- // SEt lik we learned in scool -->
    <!-- also set selection by boostrap and send mac to with alert -->
    <tr ng-repeat="device in results = (lanDevices | orderBy: orderByIt)" 
        ng-click="selectDevice(device)"
        ng-class="getColor(device)">
        <td>{{device.mac}}</td>
        <td>{{device.name}}</td>
        <td>{{device.ip}}</td>
        <td>{{device.vendor}}</td>
        <td><button class="btn btn-xs btn-info" ng-click="SetName(device)" >Edit name</button></td>
    </tr>
</table>