<div class="panel panel-warning">
    <!-- panel to show current event name -->
    <div class="panel-heading">Daily timings</div>
    <!-- panel to show current event menu -->
    <div class="panel-body">


        <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#dailyModal">Create new timing</button>

        <!-- Create timer Modal -->
        <div class="modal fade" id="dailyModal" tabindex="-1" role="dialog" aria-labelledby="dailyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="onceModalLabel">Create new daily timing</h5>

                    </div>
                    <div class="modal-body">
                        action to invoke
                        <select ng-model="selectedEventToDaily">
                            <option ng-repeat="option in events" ng-value="option.id">{{option.name}}</option>
                        </select>
                        at
                        <input type="time" ng-model="selectedTimeToDaily" /> in days:
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.sunday">sunday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.monday">monday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.tuesday">tuesday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.wednesday">wednesday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.thursday">thursday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.friday">friday</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="newDailyDays.saturday">saturday</label>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="CreateDaly(selectedEventToDaily, selectedTimeToDaily)">
                            Save Timing</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:20px;">
            <!--show menues in expender view-->
            <div class="panel-group" id="accordion{{timing.id}}">
                <div ng-repeat="timing in dailyTimings" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{timing.id}}" data-target="#{{timing.id}}">Trigger: {{timing.triggerName}}</a>
                            <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="({timing.active == 'on')}" autocomplete="{{timing.active == 'on' ? 'on' : 'off'}}"
                                ng-class="timing.active == 'on' ? 'active' : ''" ng-click="TuggelTimingActive(timing)">
                                <div class="handle"></div>
                            </button>
                        </h4>

                    </div>
                    <div id="{{timing.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Days:
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" disabled ng-checked="{{timing.days.indexOf('sunday') == -1 ? false : true}}" >sunday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('monday') == -1 ? false : true}}">monday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('tuesday') == -1 ? false : true}}">tuesday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('wednesday') == -1 ? false : true}}">wednesday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('thursday') == -1 ? false : true}}">thursday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('friday') == -1 ? false : true}}">friday</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"  disabled ng-checked="{{timing.days.indexOf('saturday') == -1 ? false : true}}">saturday</label>
                            </div>

                            Time:
                            <b> {{timing.time}} </b>
                            <br>
                            <br>
                            <button class="btn btn-danger btn-xs" ng-click="RemoveTiming(timing.id)" data-title="Delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-info">
    <!-- panel to show current event name -->
    <div class="panel-heading">Once timings</div>
    <!-- panel to show current event menu -->
    <div class="panel-body">


        <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#onceModal">Create new timing</button>

        <!-- Create timer Modal -->
        <div class="modal fade" id="onceModal" tabindex="-1" role="dialog" aria-labelledby="onceModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="onceModalLabel">Create new timing</h5>

                    </div>
                    <div class="modal-body">
                        action to invoke
                        <select ng-model="selectedEventToOnce">
                            <option ng-repeat="option in events" ng-value="option.id">{{option.name}}</option>
                        </select>
                        at
                        <input type="datetime-local" ng-model="selectedTimeToOnce" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="CreateOnceTiming(selectedEventToOnce, selectedTimeToOnce)">
                            Save Timing</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin:20px;">
            <!--show menues in expender view-->
            <div class="panel-group" id="accordion{{timing.id}}">
                <div ng-repeat="timing in onceTimings" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{timing.id}}" data-target="#{{timing.id}}">Trigger: {{timing.triggerName}}</a>
                            <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="({timing.active == 'on')}" autocomplete="{{timing.active == 'on' ? 'on' : 'off'}}"
                                ng-class="timing.active == 'on' ? 'active' : ''" ng-click="TuggelTimingActive(timing)">
                                <div class="handle"></div>
                            </button>
                        </h4>
                    </div>
                    <div id="{{timing.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Date:
                            <b> {{timing.date}} </b>

                            Time:
                            <b> {{timing.time}} </b>
                            <br>
                            <br>
                            <button class="btn btn-danger btn-xs" ng-click="RemoveTiming(timing.id)" data-title="Delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-danger">
    <!-- panel to show current event name -->
    <div class="panel-heading">Timer timings</div>
    <!-- panel to show current event menu -->
    <div class="panel-body">
        <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#timerModal">Create new timer</button>

        <!-- Create timer Modal -->
        <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create new timer</h5>

                    </div>
                    <div class="modal-body">
                        action to invoke
                        <select ng-model="selectedEventToTimer">
                            <option ng-repeat="option in events" ng-value="option.id">{{option.name}}</option>
                        </select>
                        in
                        <input type="number" ng-model="selectedMinutsToTimer" /> minuts
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="CreateTimer(selectedEventToTimer, selectedMinutsToTimer)">
                            Save Timer</button>
                    </div>
                </div>
            </div>
        </div>


        <div style="margin:20px;">
            <!--show menues in expender view-->
            <div class="panel-group" id="accordion{{timing.id}}">
                <div ng-repeat="timing in timerTimings" class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion{{timing.id}}" data-target="#{{timing.id}}">Trigger: {{timing.triggerName}}</a>
                            <button type="button" class="btn btn-sm btn-toggle" data-toggle="button" aria-pressed="({timing.active == 'on')}" autocomplete="{{timing.active == 'on' ? 'on' : 'off'}}"
                                ng-class="timing.active == 'on' ? 'active' : ''" ng-click="TuggelTimingActive(timing)">
                                <div class="handle"></div>
                            </button>
                        </h4>
                    </div>
                    <div id="{{timing.id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            Start in :
                            <b> {{timing.startTime}}</b>
                            <br> Will operate in :
                            <b> {{timing.operateTime}}</b>
                            <br> Duration in minutes:
                            <b> {{timing.durationInMinuts}} </b>
                            <br>
                            <br>
                            <button class="btn btn-danger btn-xs" ng-click="RemoveTiming(timing.id)" data-title="Delete">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>