/*area of card*/
.card {
  background:rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: inline-block;
  height: 100px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*area of tuggle button*/
input[type='checkbox'] {
  display: none;
}

input[type='checkbox']:checked ~ .toggle {
  background: rgb(84, 85, 85);
  left: 237px;
  transition: 0.5s;
}
input[type='checkbox']:checked ~ .switch {
  background:rgb(106, 109, 109);
  transition: 0.5s;
}
.switch {
  display: block;
  width: 60px;
  height: 20px;
  background: #939393;
  border-radius: 20px;
  position: absolute;
  top: 40px;
  /*10 top*/
  left: 205px;
  /*45 left*/
  transition: 0.5s;
}
.toggle {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 32px;
  left: 197px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  transition: 0.5s;
}
.disable {
  background: rgba(160, 160, 160, 1);
}
.loading-animate {
 
  position: absolute;
  top: 65px;
  left: 44px;
  transition: 0.5s;
}

.device-name {
  position: absolute;
  top: 0px;
  left: 24px;
}

.light-name {
    position: absolute;
    top: 0;
    left: 24px;
    font-family: socketsName;
  }

  .brightness {
    position: absolute;
    top: 40px;
    left: 24px;
  }

  .color-blue {
    position: absolute;
    top: 40px;
    left: 184px;
  }

  .color-green {
    position: absolute;
    top: 40px;
    left: 104px;
  }

  .color-red {
    position: absolute;
    top: 40px;
    left: 24px;
  }

  
  .color {
    position: absolute;
    top: 40px;
    left: 100px;
  }
  
  .ac-temp {
    position: absolute;
    top: 40px;
    left: 180px;
  }

  .fan_strength {
    position: absolute;
    top: 50px;
    left: 80px;
  }

  .ac-mode {
    position: absolute;
    top: 50px;
    left: 20px;
  }

  input[type=number] {
    background-color: antiquewhite;
    color: black;
  }