<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="minionControl">
    <form>
      <ng-template matStepLabel>{{ 'SELECT_MINION' | translate}}</ng-template>
      <mat-form-field>
        <mat-select placeholder="{{ 'SELECT_MINION' | translate}}" [formControl]="minionControl" required
          (selectionChange)="minionPropertiesToSet = {}">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let minion of minions" [value]="minion">
            {{minion.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="setMinionStatus">
    <form>
      <ng-template matStepLabel>{{ 'SET_STATUS' | translate}}</ng-template>
      <mat-form-field>
        <mat-select placeholder="{{ 'SET_STATUS' | translate}}" [formControl]="setMinionStatus" required
          (selectionChange)="minionPropertiesToSet = {}">
          <mat-option>--</mat-option>
          <mat-option value="on">{{ 'ON' | translate }}</mat-option>
          <mat-option value="off">{{ 'OFF' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
        <button mat-button matStepperNext>{{ 'NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="setMinionProperties"
    *ngIf="minionControl.value && (minionControl.value.minionType !== 'toggle' && minionControl.value.minionType !== 'switch')">
    <form style="margin: 50px">
      <ng-template matStepLabel>{{ 'SET_PROPERTIES' | translate}}</ng-template>

      <!-- AC properties -->
      <ng-container *ngIf="minionControl.value.minionType === 'airConditioning'">
        <mat-form-field>
          <mat-select class="minion-text" placeholder="{{'MODE' | translate}}" [(value)]="minionPropertiesToSet.mode">
            <mat-option value="hot"> {{ 'HOT' | translate}} </mat-option>
            <mat-option value="cold"> {{ 'COLD' | translate}} </mat-option>
            <mat-option value="dry"> {{ 'DRY' | translate}} </mat-option>
            <mat-option value="auto"> {{ 'AUTO' | translate}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select class="minion-text" placeholder="{{'FAN_STRENGTH' | translate}}"
            [(value)]="minionPropertiesToSet.fanStrength">
            <mat-option value="med"> {{ 'MED' | translate}} </mat-option>
            <mat-option value="high"> {{ 'HIGH' | translate}} </mat-option>
            <mat-option value="low"> {{ 'LOW' | translate}} </mat-option>
            <mat-option value="auto"> {{ 'AUTO' | translate}} </mat-option>
          </mat-select>
        </mat-form-field>
        <p><b>{{'TEMERATURE' | translate}}:</b> {{temperature}}° </p>
        <mat-slider [color]="primary" [max]="30" [min]="16" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.temperature">
        </mat-slider>
      </ng-container>

      <!-- light properties -->
      <ng-container *ngIf="minionControl.value.minionType === 'light'">
        <p><b>{{'BRIGTNESS' | translate}}:</b> {{brightness}}% </p>
        <mat-slider [color]="primary" [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.brightness">
        </mat-slider>
      </ng-container>

      <!-- temperature light properties -->
      <ng-container *ngIf="minionControl.value.minionType === 'temperatureLight'">
        <p><b>{{'BRIGTNESS' | translate}}:</b> {{brightness}}% </p>
        <mat-slider [color]="primary" [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.brightness">
        </mat-slider>
        <p><b>{{'TEMERATURE' | translate}}:</b> {{temperature}}% </p>
        <mat-slider [color]="primary" [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.temperature">
        </mat-slider>
      </ng-container>

      <!-- color light properties -->
      <ng-container *ngIf="minionControl.value.minionType === 'colorLight'">
        <p><b>{{'BRIGTNESS' | translate}}:</b> {{brightness}}% </p>
        <mat-slider [color]="primary" [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.brightness">
        </mat-slider>
        <p><b>{{'TEMERATURE' | translate}}:</b> {{temperature}}% </p>
        <mat-slider [color]="primary" [max]="100" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.temperature">
        </mat-slider>
        <p><b>{{'RED' | translate}}:</b> {{red}} </p>
        <mat-slider [color]="primary" [max]="255" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.red">
        </mat-slider>
        <p><b>{{'GREEN' | translate}}:</b> {{green}} </p>
        <mat-slider [color]="primary" [max]="255" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.green">
        </mat-slider>
        <p><b>{{'BLUE' | translate}}:</b> {{blue}} </p>
        <mat-slider [color]="primary" [max]="255" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="false"
          [(value)]="minionPropertiesToSet.blue">
        </mat-slider>
      </ng-container>

      <!-- roller properties -->
      <ng-container *ngIf="minionControl.value.minionType === 'roller'">
        <mat-button-toggle-group>
          <mat-button-toggle matTooltip="{{ 'UP_DIRECTION' | translate}}" matTooltipPosition="above"
            [checked]="minionPropertiesToSet.direction === 'up'" (click)="minionPropertiesToSet.direction = 'up'">
            <mat-icon>arrow_upward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle matTooltip="{{ 'DOWN_DIRECTION' | translate}}" matTooltipPosition="above"
            [checked]="minionPropertiesToSet.direction === 'down'" (click)="minionPropertiesToSet.direction = 'down'">
            <mat-icon>arrow_downward</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </ng-container>
      <div>
        <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
        <button mat-button matStepperNext [disabled]="!isPropertiesOk()">{{ 'NEXT' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{ 'DONE' | translate}}</ng-template>
    {{ 'DONE_ACTIVITY_MESSAGE' | translate}}
    <div>
      <button mat-button matStepperPrevious>{{ 'BACK' | translate}}</button>
      <button mat-button (click)="stepper.reset()">{{ 'RESET' | translate}}</button>
      <button mat-button (click)="createActivity()" cdkFocusInitial mat-raised-button>{{ 'CREATE' | translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>