<h1 mat-dialog-title>{{ 'EDIT' | translate }} {{minion.name}}</h1>
<div mat-dialog-content>
  <p>{{ 'USE_AUTO_TURNOFF_TIMEOUT' | translate }} </p>
  <mat-slide-toggle color="primary" [checked]="isAutoTimeoutActive" (change)="isAutoTimeoutActive = $event.checked">
  </mat-slide-toggle>
  <br>
  <br>

  <!-- <form> -->
  <mat-form-field>
    <input [disabled]="!isAutoTimeoutActive" matInput type="number" min="0" placeholder="{{ 'HOURS' | translate }}" [(ngModel)]="hours">
    </mat-form-field>
    <mat-form-field>
      <input [disabled]="!isAutoTimeoutActive" matInput type="number" min="0" placeholder="{{ 'MINUTES' | translate }}" [(ngModel)]="minutes">
  </mat-form-field>
  <mat-form-field>
    <input [disabled]="!isAutoTimeoutActive" matInput type="number" min="0" placeholder="{{ 'SECONDS' | translate }}" [(ngModel)]="seconds">
  </mat-form-field>
  <!-- </form> -->
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">{{ 'CLOSE' | translate }}</button>
  <button mat-button  cdkFocusInitial (click)="saveAutoTimeout()">{{ 'SUBMIT' | translate }}</button>
</div>