<app-loader *ngIf="dataLoading"></app-loader>

<div *ngIf="!dataLoading" [style.text-align]=" 'LEFT_DIR' | translate">
  <table mat-table [dataSource]="devices" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="mac">
      <th mat-header-cell *matHeaderCellDef> {{'MAC' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name ? element.name : '--'}} </td>
    </ng-container>

    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef> {{'IP' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
    </ng-container>

    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef> {{'VENDOR' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.vendor}} </td>
    </ng-container>

    <ng-container matColumnDef="set-name">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.sync" [style.margin-right]="('DIR' | translate) === 'ltr'? '0' : '11px'"
          [style.margin-left]="('DIR' | translate) === 'rtl'? '0' : '11px'">
          <mat-spinner color="primary" strokeWidth="3" diameter="20"></mat-spinner>
        </div>
        <button *ngIf="!element.sync" mat-icon-button color="primary" (click)="setName(element)">
          <mat-icon aria-label="Set name">border_color</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="devicesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: devicesColumns;"></tr>
  </table>
</div>



<div dir="ltr" *ngIf="!dataLoading" style="position: absolute; bottom: 50px;"
  [style.right]="('DIR' | translate) === 'ltr' ? '25px' : null"
  [style.left]="('DIR' | translate) === 'rtl' ? '25px' : null">
  <eco-fab-speed-dial #allDevicesActionsFab (click)="allDevicesActionsFab.open = !allDevicesActionsFab.open">
    <eco-fab-speed-dial-trigger [spin]="true">
      <button [color]="primary" mat-fab>
        <mat-icon class="spin180">more_vert</mat-icon>
      </button>
    </eco-fab-speed-dial-trigger>

    <eco-fab-speed-dial-actions>
      <button [color]="primary" mat-mini-fab matTooltipPosition="{{'RIGHT_DIR' | translate}}" (click)="refreshData()"
        matTooltip="{{'REFRESH' | translate}}">
        <mat-icon>refresh</mat-icon>
      </button>
      <button [color]="primary" mat-mini-fab matTooltipPosition="{{'RIGHT_DIR' | translate}}" (click)="reScanNetwork()"
        matTooltip="{{'RESCAN_NETWORK' | translate}}">
        <mat-icon>track_changes</mat-icon>
      </button>
    </eco-fab-speed-dial-actions>
  </eco-fab-speed-dial>
</div>