$gray-lighter: #eceeef !default;
$image_path: "/assets/images/" !default;

$prefix: 'sigin';

.#{$prefix} {

  &-conainer {
    min-height: 100%;
    background-size: cover;
    padding: 100px;
  }

  &-main {
    position: relative;
    margin: 0 auto;
    width: 500px;
  }
}

.full-width {
  width: 100%;
}

.redirect {
  font-size: 14px;
  margin-left: 10px;
  color: #00AAAA;
}

/* These just style the content */
#pretty-border {
  /*  just a fancy border  */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: 10px;
    z-index: 2;
  }

#picture-background {
  background-image:url('../../../assets/login_wallpaper.png');
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -200 
}

/* The only rule that matters */
#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}

.warninig-text {
  color: coral; 
  font-size: 13px; 
  text-align: right
}