.sidebar{
  }
.content{
	margin-top: 2px;

}
.example-margin {
  margin: 0 10px;
}
.today{
	width: 100%;
	height: 22%;
	position: absolute;
	background: '#17161642';
	z-index: 1;
}
.today-bg{
	padding: 30px 0;
}
.today-time{
	margin: 0;
	color: white;
	z-index: 2;
}
.today-date{
	margin: 0;
	color: white;
	z-index: 2;
}
.history-select:hover {
	background: #cac6c6;
}

.history-select:active {
	background: #918c8c;
}

.mat-icon{
  font-family: 'Material Icons' !important;
}

* {
	font-family: 'Varela Round'
}