<!-- <mat-tab-group>
    <mat-tab label="Overview">

        <div class="sidebar">

            <div fxLayout="column" fxLayoutAlign="center center" style="padding: 30px 0; background: url('./assets/darki_wallpaper.jpg');">
                <div style="width: 100%; height: 22%; position: absolute;background: #17161642;z-index: 1"></div>
                <div class="mat-display-2" style="margin: 0; color: white;z-index: 2; font-family: 'Varela Round'">{{hebdate}}</div>
                <div class="mat-subheading-2" style="margin: 0;color: white;z-index: 2">{{today | date:'EEEE'}},
                    {{today | date:'MMMM'}} {{today | date:'dd'}}
                </div>
            </div>


            <mat-divider></mat-divider>

            <h3 class="mat-subheading-2" style="margin: 10px 14px 0;">Upcoming Events</h3>
            <mat-nav-list>
                <div *ngFor="let event of events;">
                    <mat-list-item>
                        <div fxLayout="row" fxLayoutAlign="start center" mat-ripple>
                            <div fxLayout="column">
                                <div class="mat-ubheading-2" style="margin: 0; font-weight: bold;">{{ event.title }}</div>
                                <div style="font-size: 12px;">{{ event.time }}</div>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>



            <mat-divider></mat-divider>

            <mat-nav-list>
                <h3 class="mat-subheading-2" style="margin: 10px 14px 0;">Todo-List</h3>
                <div *ngFor="let todolist of todolists;">
                    <mat-list-item>
                        <div fxLayout="row" fxLayoutAlign="start center" mat-ripple>
                            <div class="title" fxLayout="column">
                                <div class="mat-ubheading-2" style="margin: 0; font-weight: bold;">{{ todolist.title }}</div>
                                <div style="font-size: 12px;">{{ todolist.time }}</div>
                            </div>
                        </div>
                    </mat-list-item>
                </div>
            </mat-nav-list>

            <mat-divider></mat-divider>


        </div>
    </mat-tab>

    <mat-tab label="Notifications">
        <div class="sidebar">
            <div>
                <h3 style="margin: 10px 14px 0;">Friends</h3>

                <mat-list>
                    <mat-list-item *ngFor="let message of messages">
                        <img matListAvatar src="assets/images/avatars/friend1.jpeg" alt="...">
                        <h3 matLine style="margin: 0; font-weight: bold;"> {{message.from}} </h3>
                        <p matLine>
                            <span> {{message.subject}} </span>
                            <span> -- {{message.content}} </span>
                        </p>
                    </mat-list-item>
                </mat-list>

            </div>
        </div>

    </mat-tab>
</mat-tab-group>

<mat-divider></mat-divider>

<mat-nav-list>
    <div>
        <h3 class="mat-subheading-2" style="margin: 10px 14px 0;">Server Statistics</h3>
        <div>
            <mat-list-item>
                <h5>CPU Load</h5>
                <mat-progress-bar [color]="'accent'" [mode]="'buffer'" [value]="'70'" [bufferValue]="100">></mat-progress-bar>
            </mat-list-item>
        </div>


        <div>
            <mat-list-item>
                <h5>RAM Usage</h5>
                <mat-progress-bar [color]="'primary'" [mode]="'buffer'" [value]="'47'" [bufferValue]="100"></mat-progress-bar>
            </mat-list-item>
        </div>


        <div>
            <mat-list-item>
                <h5>CPU Temp</h5>
                <mat-progress-bar [color]="'warn'" [mode]="'buffer'" [value]="'43'" [bufferValue]="100"></mat-progress-bar>
            </mat-list-item>
        </div>

    </div>
</mat-nav-list> -->

<mat-tab-group style="height: 100%;">
    <mat-tab label="זמני היום">
        <div class="sidebar" style="background: url('./assets/login_wallpaper.png'); height: 90vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;">

            <div style="padding: 30px 0; ;" style="background-color: rgba(0, 0, 0, 0.8); height: 100%">

                <div fxLayout="column" fxLayoutAlign="center center">

                    <canvas id="clock" width="150" height="150"></canvas>
                    <div class="mat-display-1" style="margin: 1px; color: white;z-index: 2; font-size: 28px">{{hebdate['day']}}</div>
                    <div class="mat-display-1" style="margin: 1px; color: white;z-index: 2; font-size: 18px">{{hebdate['holidays']}}</div>
                    <div class="mat-display-1" style="margin: 1px; color: white;z-index: 2; font-size: 18px">{{hebdate['parasha']}}</div>
                    <div class="mat-display-1" style="margin: 1px 20px 1px 20px; color: white;z-index: 2; font-size: 28px">{{hebdate['hebrew_date']}}</div>
                    <div class="mat-subheading-2" style="margin: 5px;color: white;z-index: 2; font-size: 28px">{{hebdate['todayGregoriany']}}</div>
                </div>


                <mat-divider></mat-divider>

                <h3 class="mat-subheading-2" style="margin: 10px 14px 10px; color: white; font-size: 18px">זמני היום:</h3>

                <mat-divider></mat-divider>

                <perfect-scrollbar style="height: 40vh">
                    <mat-nav-list>
                        <div *ngFor="let event of hebdate['dayTime']">
                            <mat-list-item fxLayoutAlign="center center">
                                <div fxLayout="row" fxLayoutAlign="space-evenly" mat-ripple>
                                    <div fxLayout="column" style="color: white">
                                        <div class="mat-ubheading-2" style="margin: 0; font-weight: bold;">{{
                                            event.title}}</div>
                                        <div style="font-size: 12px;">{{ event.time }}</div>
                                    </div>
                                </div>
                            </mat-list-item>
                        </div>
                    </mat-nav-list>
                </perfect-scrollbar>

                <div style="position: absolute; bottom: 0; top: 100px">

                </div>
                <!-- <mat-divider></mat-divider>

                <mat-divider></mat-divider>
                <div style="position:fixed;left: 0%; bottom:0px; margin: 10%">
                    <mat-divider></mat-divider>
                </div> -->

            </div>

        </div>
    </mat-tab>
</mat-tab-group>