<div class="settings-viewer-wrapper">
    <div class="settings-viewer-title">
        <div class="settings-viewer-title-spacer"> {{ 'LANGUAGE' | translate }}</div>
        <button mat-icon-button matTooltipPosition="below">
            <mat-icon>language</mat-icon>
        </button>
    </div>
    <div class="settings-viewer-body">
        <mat-form-field>
            <mat-select (selectionChange)="setLang($event.value)" required>
                <mat-option value="en">English</mat-option>
                <mat-option value="he">Hebrew | עברית</mat-option>
            </mat-select>
            <mat-hint>{{ 'SELECT_LANGUAGE' | translate }}</mat-hint>
        </mat-form-field>
    </div>
</div>

<div class="settings-viewer-wrapper">
    <div class="settings-viewer-title">
        <div class="settings-viewer-title-spacer"> {{ 'REMOTE_SERVER' | translate }}</div>
        <button mat-icon-button matTooltipPosition="below">
            <mat-icon>cloud_queue</mat-icon>
        </button>
    </div>
    <div class="settings-viewer-body form-container">
        <mat-form-field class="example-full-width">
            <input matInput value="{{ remoteConnection | translate }}" disabled>
            <mat-hint>{{ 'REMOTE_STATUS' | translate }}</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="remoteHostname">
            <input matInput disabled [(value)]="remoteHostname">
            <mat-hint>{{ 'REMOTE_URI' | translate }}</mat-hint>
        </mat-form-field>
        <div *ngIf="userProfile.scope === 'adminAuth'">
            <button class="setting-button" mat-stroked-button
                (click)="setRemoteServer()">{{ 'EDIT_CONNECTION' | translate }}</button>
            <button class="setting-button" mat-stroked-button (click)="disconnectRemoteServer()">
                {{ 'DISCONNECT' | translate }}</button>
            <button class="setting-button" mat-stroked-button
                (click)="showMacAddress()">{{ 'GET_LOCAL_MAC' | translate }}</button>
            <button class="setting-button" mat-stroked-button
                (click)="showRegisteredUsers()">{{ 'REGISTERED_USERS' | translate }}</button>
        </div>
    </div>
</div>


<div class="settings-viewer-wrapper">
    <div class="settings-viewer-title">
        <div class="settings-viewer-title-spacer"> {{ 'IFTTT_INTEGRATION' | translate }}</div>
        <button mat-icon-button matTooltipPosition="below">
            <mat-icon>business</mat-icon>
        </button>
    </div>
    <div class="settings-viewer-body form-container">
        <mat-form-field class="example-full-width">
            <input matInput value="{{ (iftttIntegration ? 'ENABLED' : 'DISABLED') | translate}}" disabled>
            <mat-hint>{{ 'IFTTT_STATUS' | translate }}</mat-hint>
        </mat-form-field>
        <br>
        <div *ngIf="userProfile.scope === 'adminAuth'">
            <button class="setting-button" mat-stroked-button
                (click)="setIfttt()">{{ 'CONFIG_CONNECTION' | translate }}</button>
            <button class="setting-button" mat-stroked-button (click)="disableIfttt()">
                {{ 'DISABLE_IFTTT' | translate }}</button>
        </div>
    </div>
</div>

<div class="settings-viewer-wrapper">
    <div class="settings-viewer-title">
        <div class="settings-viewer-title-spacer"> {{ 'LIGHT_VERSION' | translate }}</div>
        <button mat-icon-button matTooltipPosition="below">
            <mat-icon>healing</mat-icon>
        </button>
    </div>
    <div class="settings-viewer-body form-container">
        <button mat-stroked-button onclick="window.location.href='/static/light-app/index.html'">
            {{ 'REDIRECT_TO_THE_LIGHT_VERSION' | translate }}
        </button>
    </div>
</div>