.sidebar{
  }
.content{
	margin-top: 2px;

}
.example-margin {
  margin: 0 10px;
}

.settings-viewer-wrapper {
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
  margin: 30px;
}

.settings-viewer-title {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,.03);
}

.settings-viewer-title-spacer {
  flex: 1 1 auto;
  color: rgba(0,0,0,.54);
}

.settings-viewer-body {
  padding: 30px;
  color: rgba(0,0,0,.87);
}

.form-container {
  display: flex;
  flex-direction: column;
}

.setting-button {
  margin: 5px;
  margin-top: 15px;
}