mat-card {
  padding: 5px;
  margin: 7px;
  
}

.minion-text {
  color: white;
}

/deep/ .switch.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #1f5f59;
}
/deep/ .switch.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #26a69a;
}

/deep/ .airConditioning.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #252942;
}
/deep/ .airConditioning.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #5c6bc0;
}

/deep/ .light.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #2a4e2b;
}
/deep/ .light.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #66bb6a;
}

/deep/ .temperatureLight.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #2a4e2b;
}
/deep/ .temperatureLight.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #66bb6a;
}

/deep/ .colorLight.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #2a4e2b;
}
/deep/ .colorLight.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #66bb6a;
}

/deep/ .mat-form-field-type-mat-select .mat-form-field-label, .mat-select-value {
  color: white;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: black;
} 
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: black;
} 
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: black;
} 

::ng-deep .mat-mini-fab {
  background-color: #1f5f59;
  color: white;
} 

::ng-deep .mat-fab {
  background-color: #1f5f59;
  color: white;
} 