<app-loader *ngIf="dataLoading"></app-loader>
<div *ngIf="!dataLoading" fxLayout="row" fxLayout="row wrap">
    <div *ngFor="let operation of operations" fxFlex.lt-sm="100" fxFlex.sm="50" fxFlex.md="25">

        <mat-card class="operation-text" style="max-width: 500px !important; background: #5c6bc0">
            <mat-card-header>
                <div mat-card-avatar>
                    <button mat-icon-button (click)="triggerOperation(operation)" matTooltipPosition="above"
                        matTooltip="{{'TRIGGER_OPERATION' | translate}}">
                        <mat-icon aria-label="trigger operation">play_circle_filled</mat-icon>
                    </button>
                </div>

                <mat-card-title class="operation-text operation-name">{{operation.operationName}}</mat-card-title>

                <button mat-icon-button [matMenuTriggerFor]="operationMenu"
                    [style.margin-left]="('DIR' | translate) === 'ltr'? 'auto' : '0'"
                    [style.margin-right]="('DIR' | translate) === 'ltr'? '0' : 'auto'">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #operationMenu="matMenu">
                    <button mat-menu-item disabled>
                        <mat-icon>edit</mat-icon>
                        <span>{{ 'EDIT' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="renameOperation(operation)">
                        <mat-icon>format_italic</mat-icon>
                        <span>{{ 'RENAME' | translate}}</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item style="color: salmon;" (click)="deleteOperation(operation)">
                        <mat-icon style="color: salmon;">delete_forever</mat-icon>
                        <span>{{ 'DELETE_OPERATION' | translate}}</span>
                    </button>
                </mat-menu>
            </mat-card-header>
            <mat-accordion>
                <mat-expansion-panel style="background: #5c6bc0">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="operation-text">
                            {{'ACTIVITIES' | translate}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table mat-table [dataSource]="operation.activitiesDisplay" class="mat-elevation-z8"
                        [style.text-align]="('LEFT_DIR' | translate)">

                        <!-- properties Column -->
                        <ng-container matColumnDef="properties">
                            <th mat-header-cell *matHeaderCellDef> {{ 'PROPERTIES' | translate}} </th>
                            <td mat-cell *matCellDef="let element">
                                <ul>
                                    <li *ngFor="let property of element.properties">
                                        <b>{{ property.name | translate}}</b>: {{ property.value | translate}}
                                    </li>
                                </ul>
                            </td>
                        </ng-container>

                        <!-- status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> {{ 'STATUS' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{ element.status | translate}} </td>
                        </ng-container>

                        <!-- name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> {{ 'NAME' | translate}} </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="activityColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: activityColumns;"></tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
            <mat-progress-bar *ngIf="operation.sync" mode="buffer"></mat-progress-bar>
        </mat-card>
    </div>
</div>

<div dir="ltr" *ngIf="!dataLoading" style="position: absolute; bottom: 50px;"
    [style.right]="('DIR' | translate) === 'ltr' ? '25px' : null"
    [style.left]="('DIR' | translate) === 'rtl' ? '25px' : null">
    <eco-fab-speed-dial #allOperationsActionsFab (mouseenter)="allOperationsActionsFab.open = true"
        (mouseleave)="allOperationsActionsFab.open = false">
        <eco-fab-speed-dial-trigger [spin]="true">
            <button [color]="primary" mat-fab>
                <mat-icon class="spin180">more_vert</mat-icon>
            </button>
        </eco-fab-speed-dial-trigger>

        <eco-fab-speed-dial-actions>
            <button [color]="primary" mat-mini-fab matTooltipPosition="{{'RIGHT_DIR' | translate}}" (click)="refreshData()"
                matTooltip="{{'REFRESH' | translate}}">
                <mat-icon>refresh</mat-icon>
            </button>
            <button [color]="primary" mat-mini-fab matTooltipPosition="{{'RIGHT_DIR' | translate}}"
                (click)="createOperation()" matTooltip="{{'CREATE_OPERATION' | translate}}">
                <mat-icon>add</mat-icon>
            </button>
        </eco-fab-speed-dial-actions>
    </eco-fab-speed-dial>
</div>