.operation-text {
  color: white;
}

.operation-name {
  margin: 20px;
}

mat-card {
  padding: 5px;
  margin: 7px;
  
}

table{
  width: 100%;
}

::ng-deep .mat-mini-fab {
    background-color: #1f5f59;
    color: white;
  } 
  
  ::ng-deep .mat-fab {
    background-color: #1f5f59;
    color: white;
  }